/horus/nbproject/private/
/horus/build/
GIT_IGNORE
img/find_blank/aligned.png
img/find_blank/article_0.png
img/find_blank/article_2.png
img/find_blank/article_4.png
img/find_blank/article_5_1.png
img/find_blank/article_6.png
img/find_blank/matches.jpg
img/find_blank/article.png
img/find_blank/article_1.png
img/find_blank/article_3.png
img/find_blank/article_5.png
img/find_blank/article_5_2.png
img/find_blank/article_7.png
img/find_blank/comp.png
img/find_blank/sub.png